.emptyCartImg {
    height: 250px;
    width: 38%;
    margin: auto;
    padding: 20px;
}
.restaurantImg {
    height: 50px;
    width: 70px;
    object-fit: cover;
}

.restaurantHeader {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.emptyCartText {
    margin: auto;
    padding: 10px;
}
.restaurantName {
    font-size: 17px;
    color: #282c3f;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}