.navLink:hover svg {
  fill: #fc8019;
}
.navLink:active svg {
  fill: #fc8019;
}
.cart:hover svg {
  stroke: #fc8019;
}
.SearchIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.SearchIcon:hover svg {
  fill: #fc8019;
}
.SearchIcon:hover input {
  border: 1px solid #fc8019;
}

.login svg {
  margin-right: 5px;
}
.login:hover svg {
  fill: #fc8019;
}
.login:hover .SignInText {
  color: #fc8019;
}
.login {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
.searchInput {
  min-height: 20px;
}

.searchInput::placeholder {
  font-size: 12px;
}

.cartItemsNumber {
  font-size: 16px;
  font-weight: 500;
  position: relative;
  right: 19px;
}

.SignInText {
  margin-right: 5px;
  font-weight: 600;
  font-size: 12px;
  color: black;
  @media (max-width: 600px) {
    display: none;
    font-size: 10px;
  }
}

.locationContainer {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 50px;
  max-width: 300px;
  height: 30px;
  cursor: pointer;
  margin-bottom: -1px;
  padding-right: 10px;
}

.other {
  font-weight: 700;
  color: #3d4152;
  float: left;
  display: block;
  min-width: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.location {
  display: block;
  padding-left: 5px;
  margin-left: 5px;
  color: #686b78;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 300;
  font-size: 14px;
}

.downArrow {
  height: 15px;
  width: 15px;
  position: relative;
  right: -12px;
  top: 1px;
  color: #fc8019;
  font-weight: 700;
}

.downArrow svg {
  height: 14px;
  width: 14px;

  fill: #fc8019;
  font-weight: 700;
}

.popoverContainer {
  position: relative;
  display: inline-block;
}

.popoverContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 30px;
  left: -50px;
  padding: 26px 30px;
  z-index: 1;
  background-color: #fff;
  border-top: 2px solid #fc8019;
  box-shadow: 0 2px 20px 0 #93959f;
  border-radius: 2px;
 opacity: 0;
  visibility: hidden;
  pointer-events: none;
  /* transform : translate(0, 10px); */
}
.popoverWrapper {
  width: auto;
  min-width: 160px;
  position: absolute;
  padding-top: 30px;
  top: 18px;
  left: -50px;
}
.popoverContainer:hover .popoverContent {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  /* transform: translate(0, -20px); */
  pointer-events: all;
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.popoverContainer:hover .login{
  color: #fc8019;
}
.popoverContent:before {
  position: absolute;
  z-index: -1;
  content: "";
  right: calc(50% - 10px);
  top: -10px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #fc8019 transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}
.popoverContent:last-child {
  padding-bottom: 0px;
}

.popoverItem {
  font-weight: 500;
  padding-bottom: 22px;
  color: #3d4152;
  font-size: 15px;
  cursor: pointer;
}
.popoverItem:hover {
  color: #3d4152;
  font-weight: 600;
}
@media screen and (max-width: 450px) {
  .locationContainer {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .SearchIcon {
    display: none;
  }
}
